body {
    font-family: Roboto, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
}

.toolbar {
    width: 100%;
    display: flex;
}

.fill-remaining-space {
    flex: 1 1 auto;
}