.searchContainer {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.searchForm {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchInputField {
    width: 80%;
}

@media screen and (min-width: 440px) {
    .searchInputField input {
        font-size: 40px;
        width: 90%;
    }
    .searchCard {
        width: 80%;
        display: flex;
        justify-content: start;
    }
}

@media screen and (max-width: 440px) {
    .searchInputField input {
        font-size: 20px;
    }
    .searchCard {
        width: 98%;
        display: flex;
        justify-content: start;
    }
}