<div class="searchContainer">
  <mat-card class="searchCard">
    <form (ngSubmit)="onSubmit()" class="searchForm" [formGroup]="form" autocomplete="off">
      <input autocomplete="false" type="text" style="display:none;">
      <mat-form-field appearance="standard" [hideRequiredMarker]="true" class="searchInputField">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search for a movie" formControlName="query">
        <mat-error *ngIf="query.errors?.minlength && query.touched">Query be at least 3 characters</mat-error>
        <mat-error *ngIf="query.errors?.maxlength && query.touched">Query cannot be more than 24 characters</mat-error>
        <mat-error *ngIf="query.errors?.pattern && query.touched">Your input looks weird</mat-error>
        <mat-error *ngIf="query.errors?.required && query.touched">Please enter something</mat-error>
      </mat-form-field>
      <button mat-fab type='submit' [disabled]="form.invalid" color="primary" *ngIf="!loading">
        <mat-icon aria-label="Search">search</mat-icon>
      </button>
      <mat-spinner *ngIf="loading" diameter="50.0"></mat-spinner>
    </form>
  </mat-card>
</div>